data/*
data_thorax/*
*Copy*.py
*.ipynb_checkpoints
__pycache__
images/n_el*.png
*-Copy*.ipynb
codes/archive
extract_info.py
generate.py
codes/pred_circle*.ipynb
images/r_traj.gif
images/*.png
images/LSTM_VAE_V3.pdf